In [4]:
import pandas as pd

In [5]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [6]:
iris.head()

#first row is unavaialable in original data

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [8]:
iris.columns = (['sl','sw','pl','pw','flower_class'])

#manually add the top row

In [9]:
iris.head()

    sl   sw   pl   pw flower_class
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [10]:
iris.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [17]:
pd.isnull(iris)

#find null values

        sl     sw     pl     pw  flower_class
0    False  False  False  False         False
1    False  False  False  False         False
2    False  False  False  False         False
3    False  False  False  False         False
4    False  False  False  False         False
5    False  False  False  False         False
6    False  False  False  False         False
7    False  False  False  False         False
8    False  False  False  False         False
9    False  False  False  False         False
10   False  False  False  False         False
11   False  False  False  False         False
12   False  False  False  False         False
13   False  False  False  False         False
14   False  False  False  False         False
15   False  False  False  False         False
16   False  False  False  False         False
17   False  False  False  False         False
18   False  False  False  False         False
19   False  False  False  False         False
20   False  False  False  False         False
21   False  False  False  False         False
22   False  False  False  False         False
23   False  False  False  False         False
24   False  False  False  False         False
25   False  False  False  False         False
26   False  False  False  False         False
27   False  False  False  False         False
28   False  False  False  False         False
29   False  False  False  False         False
..     ...    ...    ...    ...           ...
119  False  False  False  False         False
120  False  False  False  False         False
121  False  False  False  False         False
122  False  False  False  False         False
123  False  False  False  False         False
124  False  False  False  False         False
125  False  False  False  False         False
126  False  False  False  False         False
127  False  False  False  False         False
128  False  False  False  False         False
129  False  False  False  False         False
130  False  False  False  False         False
131  False  False  False  False         False
132  False  False  False  False         False
133  False  False  False  False         False
134  False  False  False  False         False
135  False  False  False  False         False
136  False  False  False  False         False
137  False  False  False  False         False
138  False  False  False  False         False
139  False  False  False  False         False
140  False  False  False  False         False
141  False  False  False  False         False
142  False  False  False  False         False
143  False  False  False  False         False
144  False  False  False  False         False
145  False  False  False  False         False
146  False  False  False  False         False
147  False  False  False  False         False
148  False  False  False  False         False

[149 rows x 5 columns]

In [11]:
iris.iloc[3:5]

    sl   sw   pl   pw flower_class
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [12]:
iris.iloc[3:5, 0:2]

    sl   sw
3  5.0  3.6
4  5.4  3.9

In [13]:
import numpy as np
iris.iloc[3:5, 0:2] = np.nan

In [14]:
iris.iloc[3:5, 0:2]

   sl  sw
3 NaN NaN
4 NaN NaN

In [15]:
iris.sw.fillna(1, inplace=True)
iris.iloc[3:5, 0:2]

   sl   sw
3 NaN  1.0
4 NaN  1.0

In [16]:
iris.sl.fillna(iris.sl.mean(), inplace=True)
iris.iloc[3:5, 0:2]

         sl   sw
3  5.857143  1.0
4  5.857143  1.0

In [17]:
iris.head()

         sl   sw   pl   pw flower_class
0  4.900000  3.0  1.4  0.2  Iris-setosa
1  4.700000  3.2  1.3  0.2  Iris-setosa
2  4.600000  3.1  1.5  0.2  Iris-setosa
3  5.857143  1.0  1.4  0.2  Iris-setosa
4  5.857143  1.0  1.7  0.4  Iris-setosa

In [18]:
iris.iloc[3:5, 0:2] = np.nan

In [19]:
iris.head()

    sl   sw   pl   pw flower_class
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  NaN  NaN  1.4  0.2  Iris-setosa
4  NaN  NaN  1.7  0.4  Iris-setosa

In [20]:
#keep a particualar flower class

setosa = iris[iris.flower_class == "Iris-setosa"]
setosa

     sl   sw   pl   pw flower_class
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
3   NaN  NaN  1.4  0.2  Iris-setosa
4   NaN  NaN  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa
24  5.0  3.0  1.6  0.2  Iris-setosa
25  5.0  3.4  1.6  0.4  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa
30  5.4  3.4  1.5  0.4  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa
33  4.9  3.1  1.5  0.1  Iris-setosa
34  5.0  3.2  1.2  0.2  Iris-setosa
35  5.5  3.5  1.3  0.2  Iris-setosa
36  4.9  3.1  1.5  0.1  Iris-setosa
37  4.4  3.0  1.3  0.2  Iris-setosa
38  5.1  3.4  1.5  0.2  Iris-setosa
39  5.0  3.5  1.3  0.3  Iris-setosa
40  4.5  2.3  1.3  0.3  Iris-setosa
41  4.4  3.2  1.3  0.2  Iris-setosa
42  5.0  3.5  1.6  0.6  Iris-setosa
43  5.1  3.8  1.9  0.4  Iris-setosa
44  4.8  3.0  1.4  0.3  Iris-setosa
45  5.1  3.8  1.6  0.2  Iris-setosa
46  4.6  3.2  1.4  0.2  Iris-setosa
47  5.3  3.7  1.5  0.2  Iris-setosa
48  5.0  3.3  1.4  0.2  Iris-setosa

In [24]:
setosa

     sl   sw   pl   pw flower_class
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa
24  5.0  3.0  1.6  0.2  Iris-setosa
25  5.0  3.4  1.6  0.4  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa
30  5.4  3.4  1.5  0.4  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa
33  4.9  3.1  1.5  0.1  Iris-setosa
34  5.0  3.2  1.2  0.2  Iris-setosa
35  5.5  3.5  1.3  0.2  Iris-setosa
36  4.9  3.1  1.5  0.1  Iris-setosa
37  4.4  3.0  1.3  0.2  Iris-setosa
38  5.1  3.4  1.5  0.2  Iris-setosa
39  5.0  3.5  1.3  0.3  Iris-setosa
40  4.5  2.3  1.3  0.3  Iris-setosa
41  4.4  3.2  1.3  0.2  Iris-setosa
42  5.0  3.5  1.6  0.6  Iris-setosa
43  5.1  3.8  1.9  0.4  Iris-setosa
44  4.8  3.0  1.4  0.3  Iris-setosa
45  5.1  3.8  1.6  0.2  Iris-setosa
46  4.6  3.2  1.4  0.2  Iris-setosa
47  5.3  3.7  1.5  0.2  Iris-setosa
48  5.0  3.3  1.4  0.2  Iris-setosa

In [26]:
setosa.reset_index(drop=True, inplace=True)

In [27]:
setosa

     sl   sw   pl   pw flower_class
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
3   4.6  3.4  1.4  0.3  Iris-setosa
4   5.0  3.4  1.5  0.2  Iris-setosa
5   4.4  2.9  1.4  0.2  Iris-setosa
6   4.9  3.1  1.5  0.1  Iris-setosa
7   5.4  3.7  1.5  0.2  Iris-setosa
8   4.8  3.4  1.6  0.2  Iris-setosa
9   4.8  3.0  1.4  0.1  Iris-setosa
10  4.3  3.0  1.1  0.1  Iris-setosa
11  5.8  4.0  1.2  0.2  Iris-setosa
12  5.7  4.4  1.5  0.4  Iris-setosa
13  5.4  3.9  1.3  0.4  Iris-setosa
14  5.1  3.5  1.4  0.3  Iris-setosa
15  5.7  3.8  1.7  0.3  Iris-setosa
16  5.1  3.8  1.5  0.3  Iris-setosa
17  5.4  3.4  1.7  0.2  Iris-setosa
18  5.1  3.7  1.5  0.4  Iris-setosa
19  4.6  3.6  1.0  0.2  Iris-setosa
20  5.1  3.3  1.7  0.5  Iris-setosa
21  4.8  3.4  1.9  0.2  Iris-setosa
22  5.0  3.0  1.6  0.2  Iris-setosa
23  5.0  3.4  1.6  0.4  Iris-setosa
24  5.2  3.5  1.5  0.2  Iris-setosa
25  5.2  3.4  1.4  0.2  Iris-setosa
26  4.7  3.2  1.6  0.2  Iris-setosa
27  4.8  3.1  1.6  0.2  Iris-setosa
28  5.4  3.4  1.5  0.4  Iris-setosa
29  5.2  4.1  1.5  0.1  Iris-setosa
30  5.5  4.2  1.4  0.2  Iris-setosa
31  4.9  3.1  1.5  0.1  Iris-setosa
32  5.0  3.2  1.2  0.2  Iris-setosa
33  5.5  3.5  1.3  0.2  Iris-setosa
34  4.9  3.1  1.5  0.1  Iris-setosa
35  4.4  3.0  1.3  0.2  Iris-setosa
36  5.1  3.4  1.5  0.2  Iris-setosa
37  5.0  3.5  1.3  0.3  Iris-setosa
38  4.5  2.3  1.3  0.3  Iris-setosa
39  4.4  3.2  1.3  0.2  Iris-setosa
40  5.0  3.5  1.6  0.6  Iris-setosa
41  5.1  3.8  1.9  0.4  Iris-setosa
42  4.8  3.0  1.4  0.3  Iris-setosa
43  5.1  3.8  1.6  0.2  Iris-setosa
44  4.6  3.2  1.4  0.2  Iris-setosa
45  5.3  3.7  1.5  0.2  Iris-setosa
46  5.0  3.3  1.4  0.2  Iris-setosa