In [96]:
import quandl
df_main = quandl.get('WIKI/GOOGL', api_key='Bbg1mKaTsCtdvLHbUtDB')

In [175]:
df = df_main[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]

In [176]:
df['prediction'] = df['Adj. Close'].shift(-10)

/home/kautuk/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [177]:
df.dropna(inplace=True)

/home/kautuk/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [178]:
df.head()

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,prediction
Date,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,50.912161
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,50.159839
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,50.947269
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,51.308384
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,51.313400

In [179]:
X = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]
Y = df['prediction']

In [180]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=0.2)

In [185]:
clf = LinearRegression(normalize=True)
clf.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [186]:
clf.score(X_test, Y_test)*100

99.21401457474116